[user]
    name = Chris Hunter
    email = chunter@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = red bold
    untracked = magenta bold
[color "branch"]
    remote = yellow
[alias]
    ad = add -A
    br = branch
    bra = branch -a
    ci = commit
    co = checkout
    diffs = diff --staged
    re = remote -v
    st = status
[core]
    whitespace = tab-in-indent,cr-at-eol,trailing-space,tabwidth=4
    pager = less -x1,5
[push]
    default = matching
