[user]
    name = Chris Hunter
    email = christopher.hunter@bigfishgames.com
    signingkey = 5814FC60
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = red bold
    untracked = magenta bold
[color "branch"]
    remote = yellow
[credential]
    helper = cache --timeout=86400
[alias]
    ad = add -A
    co = checkout
    ci = commit
    st = status
    br = branch
    bra = branch -a
    lol = log --oneline --graph --decorate --all
[core]
    whitespace = tab-in-indent,cr-at-eol,trailing-space,tabwidth=4
    pager = less -x1,5
    autocrlf = input
[push]
    default = simple
[http]
    sslverify = false
