[user]
    name = Christopher Hunter
    email = christopher.hunter@bigfishgames.com
    signingkey = 19B8AA958D44D0D3
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[color "status"]
    added = green
    changed = red bold
    untracked = magenta bold
[color "branch"]
    remote = yellow
[credential]
    helper = cache --timeout=86400
[diff]
    algorithm = patience
    compactionHeuristic = true
[alias]
    ad = add -u
    br = branch
    bre = branch -avv
    brauth = for-each-ref --format='%(align:30,left)%(color:bold cyan)%(authorname)%(color:reset)%(end) %(authordate:short)%09%(color:yellow)%(refname:short)%(color:reset)' --sort=authorname
    ci = commit
    co = checkout
    diffs = diff --staged
    lol = log --oneline --graph --decorate --all
    slast = log --pretty=format:%h%n -1
    llast = log --pretty=format:%H%n -1
    lg = log --graph --pretty=tformat:'%C(green)%h%Creset %ai %C(yellow)%<(20)%an%Creset %s'
    re = remote -v
    st = status
	lsum = log --pretty=tformat:'%C(green)%h%Creset %ai %C(yellow)%<(20)%an%Creset %s'
	squash = "!f(){ git reset --soft HEAD~${1} && git commit; };f"
[core]
    editor = vim
    ignorecase = false
    whitespace = tab-in-indent,cr-at-eol,trailing-space,tabwidth=4
    pager = cat
    autocrlf = input
	excludesfile = /Users/chunter/.gitignore_global
[push]
    default = current
[http]
    sslverify = false
[branch]
    autosetupmerge = always
[color "diff"]
    old = red
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
